mixin videoBlock( videoObject)
    .videoBlock
        video.videoBlock__thumbnail(src=videoObject.videosFile controls=true)
        h4.videoBlock__title=videoObject.title
        h6.videoBlock__views=videoObject.views
